# Geophysical particle filter

The point of this notebook is to recreate on an unclassified dataset and unrelated codebase the deep water bathymetric particle filter results, and include additional results for gravity and magnetic measurements. The function of this notebook is to serve as a prototyping and low-scale 'simulation' environment. 

First, let's import the stuff needed.

In [28]:
import numpy as np
from gmt_tool import get_map_section, inflate_bounds, get_map_point
from haversine import haversine, Unit
from tools import load_trackline_data
from matplotlib import pyplot as plt
from particle_filter import run_particle_filter, propagate, plot_error, plot_estimate, plot_map_and_trajectory
import pandas as pd
from datetime import timedelta
from scipy.io import savemat

First we need to tune the particle filter propagation noise to be similar to that of a marine-grade inertial navigation system. A low-end marine-grade INS should have a drift of 1 nm per 24 hours.

In [ ]:
from particle_filter import rmse

time = 24*60 # minutes
noise = np.array([0, 0.1 * np.sqrt(1/60),0])
bound = 1852 # meters
v = 4*bound / 3600 # m / min
P = np.asarray([[0,0,0,0,v,0]])
T = P
err = rmse(P[0,:2], T[0, :2])
errors = [err]
t = 0
u = [0,v,0]

while t < time:    
    P = propagate(P, u, noise=noise)
    T = propagate(T, u, noise=[0,0,0])
    errors.append(rmse(P[0,:2], T[0, :2]))

plt.plot(errors)

In [ ]:
P = propagate(P, [0,v,0], 60)

We'll first do some general examination of the data. Namely, investigating the sensor measurements to see if we can build a reasonable sensor model.

In [ ]:
d_bathy = np.asarray([])
#d_grav = np.asarray([])
#d_mag = np.asarray([])
for i in range(20):
    data = load_trackline_data(f'./data/processed/marine_trackline_{i}.csv')
    min_lon = data.LON.min()
    max_lon = data.LON.max()
    min_lat = data.LAT.min()
    max_lat = data.LAT.max()
    min_lon, min_lat, max_lon, max_lat = inflate_bounds(min_lon, min_lat, max_lon, max_lat, 0.25)
    bathy_map = get_map_section(min_lon, max_lon, min_lat, max_lat, 'relief', '15s', f'track{i}')
#    grav_map = get_map_section(min_lon, max_lon, min_lat, max_lat, 'gravity', '01m', f'track{i}')
#    mag_map = get_map_section(min_lon, max_lon, min_lat, max_lat, 'magnetic', '02m', f'track{i}')
    d_bathy = np.hstack([d_bathy, data['CORR_DEPTH'] - (-get_map_point(bathy_map, data.LON, data.LAT))])
#    d_grav = np.hstack([data['FREEAIR'] - get_map_point(grav_map, data.LON, data.LAT)])
#    d_mag = np.hstack([data['CORR_DEPTH'] - get_map_point(bathy_map, data.LON, data.LAT)])

bathy_sigma = np.std(d_bathy, where=~np.isnan(d_bathy))

Now let's run the trajectory

In [ ]:
# Load the trajectory file
for num in range(20):
    name = f'marine_trackline_{num}'
    data = load_trackline_data(f'./data/processed/{name}.csv')

    # Create the map
    min_lon = data.LON.min()
    max_lon = data.LON.max()
    min_lat = data.LAT.min()
    max_lat = data.LAT.max()
    min_lon, min_lat, max_lon, max_lat = inflate_bounds(min_lon, min_lat, max_lon, max_lat, 0.25)
    geo_map = get_map_section(min_lon, max_lon, min_lat, max_lat, 'relief', '15s', f'track{num}')
    
    # Run the particle filter
    N = 10000
    # Intial parameters
    mu = [data.LAT[0], data.LON[0], 0, 0, 0, 0]
    cov = np.diag([1/60, 1/60, 0, 0.1, 0.1, 0])
    # Run PF
    estimate, error, rms_error = run_particle_filter(mu, cov, N, data, geo_map, measurement_sigma=bathy_sigma)

    

    
    plt.show()
    plt.savefig(f'{name}_Error.png')

    # Save particle filter error characteristics.
    results = {'estimate':estimate, 'error':error, 'rmse':rms_error}
    savemat(f'{name}_errors.mat', results)

In [ ]:
from datetime import timedelta

In [29]:
track = pd.read_csv('./data/processed/noaa_tracklines/ew0114.csv', index_col=0)
track

                                LAT        LON  ...  MAG_RES  FREEAIR
2001-12-09 05:43:00+05:00 -38.01339  109.88378  ...     -6.0     15.4
2001-12-09 05:44:00+05:00 -38.01561  109.88164  ...     -8.0     12.9
2001-12-09 05:45:00+05:00 -38.01783  109.87948  ...     -8.0     13.1
2001-12-09 05:46:00+05:00 -38.01999  109.87737  ...     -8.0     11.5
2001-12-09 05:47:00+05:00 -38.02222  109.87526  ...     -7.0     11.5
...                             ...        ...  ...      ...      ...
2002-01-23 11:30:00+05:00 -46.37401  138.81362  ...   -120.0     34.0
2002-01-23 11:40:00+05:00 -46.37278  138.81795  ...   -118.0     31.9
2002-01-23 11:50:00+05:00 -46.37151  138.82229  ...   -116.0     32.4
2002-01-23 11:10:00+05:00 -46.36555  138.84374  ...    -86.0     33.0
2002-01-23 11:11:00+05:00 -46.36447  138.84723  ...    -84.0     35.4

[22036 rows x 7 columns]

In [268]:
data = pd.read_csv(
        './data/processed/noaa_tracklines/ew0114.csv',
        header=0,
        index_col=0,
        parse_dates=True,
        dtype={
            "LAT": float,
            "LON": float,
            "BAT_TTIME": float,
            "CORR_DEPTH": float,
            "MAG_TOT": float,
            "MAG_RES": float,
        },
    )
data_raw = data.copy()
# Add a new column for the time difference between each measurement and the starting time.
data['TIME'] = data.index
data['TIME'] = data['TIME'] - data['TIME'].iloc[0]
data['DT'] = data['TIME'].diff()
data.loc[data.index[0], 'DT'] = timedelta(seconds=0)
INDS = data['DT'] >= timedelta(minutes=15)

In [269]:
I = np.where(INDS)[0]
i = 0
data.iloc[I[i]-2:I[i]+3]

                                LAT  ...                DT
2001-12-11 19:59:00+05:00 -46.99877  ...   0 days 00:01:00
2001-12-11 20:00:00+05:00 -47.00118  ...   0 days 00:01:00
2001-12-11 20:20:00+05:00 -47.00599  ...   0 days 00:20:00
2001-12-11 20:10:00+05:00 -47.02506  ... -1 days +23:50:00
2001-12-11 20:11:00+05:00 -47.02742  ...   0 days 00:01:00

[5 rows x 9 columns]

In [270]:
# drop the rows specified by INDS
data = data.drop(data[INDS].index)
data["DT"] = data.index.to_series().diff()
data.loc[data.index[0], 'DT'] = timedelta(seconds=0)

In [272]:
INDS = data['DT'] < timedelta(seconds=0)

In [274]:
INDS

2001-12-09 05:43:00+05:00    False
2001-12-09 05:44:00+05:00    False
2001-12-09 05:45:00+05:00    False
2001-12-09 05:46:00+05:00    False
2001-12-09 05:47:00+05:00    False
                             ...
2002-01-23 11:30:00+05:00    False
2002-01-23 11:40:00+05:00    False
2002-01-23 11:50:00+05:00    False
2002-01-23 11:10:00+05:00     True
2002-01-23 11:11:00+05:00    False
Name: DT, Length: 21932, dtype: bool

In [278]:
def find_periods(mask) -> list:
    """
    Find the start and stop indecies from a boolean mask.
    """
    # Calculate the starting and ending indices for each period
    periods = []
    start_index = None

    for idx, is_true in enumerate(mask):
        if is_true and start_index is None:
            start_index = idx
        elif not is_true and start_index is not None:
            end_index = idx - 1
            periods.append((start_index, end_index))
            start_index = None

    # If the last period extends until the end of the mask, add it
    if start_index is not None:
        end_index = len(mask) - 1
        periods.append((start_index, end_index))

    return periods

In [279]:
P = find_periods(INDS)

In [280]:
P

[(3219, 3219),
 (4917, 4917),
 (5201, 5201),
 (5270, 5270),
 (5388, 5388),
 (7810, 7810),
 (7878, 7878),
 (7977, 7977),
 (8048, 8048),
 (8165, 8165),
 (8390, 8390),
 (13208, 13208),
 (16069, 16069),
 (17444, 17444),
 (17590, 17590),
 (21930, 21930)]

                                LAT        LON  ...             TIME              DT
2001-12-11 21:29:00+05:00 -47.21403  100.49142  ...  2 days 15:46:00 0 days 00:01:00
2001-12-11 21:30:00+05:00 -47.21624  100.48902  ...  2 days 15:47:00 0 days 00:01:00
2001-12-21 14:16:00+05:00 -47.19220  100.35627  ... 12 days 08:33:00 9 days 16:46:00
2001-12-21 14:17:00+05:00 -47.19287  100.35798  ... 12 days 08:34:00 0 days 00:01:00
2001-12-21 14:18:00+05:00 -47.19351  100.35971  ... 12 days 08:35:00 0 days 00:01:00

[5 rows x 9 columns]